* {
    font-family:'Open Sans';
    font-size:10pt;
}
li {
    padding:2pt;
    list-style:none;
}
ul {
    list-style:none;
    margin-left:1em;
    padding:2pt;
}

h2 {
    font-size:10pt;
}

h3 {
    font-size:10pt;
}

input {
    margin:5pt;
}